.bundle
.zeus.sock
.DS_Store
.project
.sass-cache/
.idea
public/system/images/*
webrat.log
db/*.sqlite3
log
tmp/**/*
tmp/*
tmp
*.tmproj
*.swp
*.swo
*~
spec/javascripts/generated/**/*
public/assets/**/*
public/assets/*
coverage
dump.rdb

custom_plan.rb
zeus.json
coverage

spec/frontend/.tmp
spec/frontend/node_modules
spec/frontend/bower_components
spec/frontend/app
spec/frontend/coverage
